
body {
	font-family: 'Inconsolata', monospace;

	padding-left: 500px;
}



#quiz {
	margin-left: 10px;
	background-color:#FFA726;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;

}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}



#button {
  outline:0; 
  font-size:1em;
  font-weight:600;
  background:#fff;
  border:none;
  padding:2em 4em;
  transition:all .3s ease-out; 
  box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20,
    6px 6px 0 0 #d98e20,
    7px 7px 0 0 #d98e20,
    8px 8px 0 0 #d98e20,
    9px 9px 0 0 #d98e20,
    10px 10px 0 0 #d98e20,
    11px 11px 0 0 #d98e20,
    12px 12px 0 0 #d98e20;
}
#button:hover{
  color:#444;
}
#button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20;
}

#after_submit {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;


}

#picture {
	border: 10px solid transparent;
  	padding: 15px;
  	border-image: url(border.png) 20% round;

	width: 375px;
	height: 245px;
}



#message {
		font-family: 'Inconsolata', monospace;

}