<!DOCTYPE html>
<html>
<head>
	<title>TRIVIA GAME</title>
	<link href ="home.css" rel ="stylesheet">
	
<body>
	<div>
	<h1>Welcome to My Trivia Quiz Game</h1>
	<br>
	<h2>Choose your Difficulty :</h2>
	</div>

	<div class="container">
  		<a href="medium" class="btn">EASY</a>
  		
 		<a href="easy" class="btn cta">NORMAL</a>
 		
  		<a href="hard" class="btn cta bg">HARDEST MF</a>
	</div>
</body>
</html>
