<!DOCTYPE html>
<html>
<head>

<title>Trivia Game</title>
<link href ="style.css" rel ="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src = "/main.js"></script>
</head>


<body>
<h1>This is best quiz on the internet!</h1>


<form id = "quiz" name = "quiz">


<p class = "questions"> What is always coming, but never arrives?</p>
<input type = "radio" id = "ab" name = "question2" value = "Yesterday"> Yesterday<br>
<input type = "radio" id = "ab" name = "question2" value = "Tomorrow"> Tomorrow<br>

<p class = "questions"> What is it that lives if it is fed, and dies if you give it a drink?</p>
<input type = "radio" id = "ab" name = "question2" value = "water"> water<br>
<input type = "radio" id = "ab" name = "question2" value = "fire"> fire<br>

<p class = "questions">What can one catch that is not thrown?</p>

<input type = "radio" id = "ab" name = "question3" value = "cold"> cold<br>
<input type = "radio" id = "ab" name = "question3" value = "ball"> ball<br>


<input id = "button" type = "button" value = "I'm finished!">


</form>

<div id = "after_submit">
<p id = "number_correct"></p>
<p id = "message"></p>
<img id = "picture">
</div>
</html>

</body>


